.Clients .heading {
    justify-content: center;
}

.Clients h3 {
    margin: 30px auto;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323264;
}

.Clients .item-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .Clients .item-container img {
    margin-bottom: -5px;
} */

.Clients .item{
    width: 360px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.Clients .item:nth-child(1){
    background-color: rgba(28, 66, 128, 1)  ;
}
.Clients .item:nth-child(2){
    background-color:rgba(20, 54, 70, 1) ;
}
.Clients .item:nth-child(3){
    background-color:rgba(244, 139, 48, 1) ;
}
.Clients .item:nth-child(4){
    background-color:rgba(158, 77, 195, 1) ;
}
.Clients .item:nth-child(5){
    background-color: rgba(253, 147, 57, 1);
}
.Clients .item:nth-child(6){
    background-color:rgba(226, 226, 228, 1) ;
}
.Clients .item:nth-child(7){
    background-color: rgba(199, 28, 54, 1);
}
.Clients .item:nth-child(8){
    background-color: rgba(220, 243, 249, 1);
}
.Clients .item:nth-child(9){
    background-color:rgba(234, 234, 234, 1) ;
}
.Clients .item:nth-child(10){
    background-color: rgba(40, 34, 64, 1);
}
.Clients .item:nth-child(11){
    background-color: rgba(29, 69, 104, 1);
}
.Clients .item:nth-child(12){
    background-color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 750px) {
    .Clients img{
        transform: scale(0.73);
    }
    .Clients .item{
        height: 90px;
        width: 50%;
    }
}