

.splash .logo {
    /* width: 155px; */
    height: 62px;
}

.header-contacts {
    margin-bottom: 16px;
    position: relative;
}

.header-contacts div {
    margin-right: 20px;
}

.header-contacts div:nth-child(2),
.header-contacts div:nth-child(3) {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.header-contacts div:nth-child(3) {
    font-weight: 700;
}

.header-contacts div:nth-child(1)::after,
.header-contacts div:nth-child(2)::after,
.header-contacts div:nth-child(3)::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    position: absolute;
    top: calc(50% - 3px);
    left: 90px;
}

.header-contacts div:nth-child(2)::after {
    left: 325px;
}

.header-contacts div:nth-child(3)::after {
    left: 490px;
}

.header-contacts ul {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.header-contacts li {
    height: 24px;
    width: 29px;
    border-radius: 8px;
    justify-content: center;
}

.header-contacts li.active {
    background: #F0145A;
}

.facebook img {
    width: 24px;
    height: 24px;
}

.navigation {
    justify-content: flex-end;
}

.navigation li a {
    margin-right: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.SymbolLongleg {
    flex-direction: column;
    padding: 185px 0 0 0;
    position: relative;
}


.SymbolLongleg p {
    font-size: 38px;
    line-height: 45px;
    font-weight: 500;
    position: absolute;
    top: 243px;
    z-index: 10;
    text-align: center;
}

.scoll-down {
    position: absolute;
    left: calc(50% - 21px);
    top: 603px;

}

.scoll-down img {
    width: 42px;
    height: 42px;
    z-index: 1;
}