





@media screen and (max-width: 1390px) {

.services .Services-grid.wrap{
    justify-content: space-around;
}}


/* footer {
    padding: 20px 0 120px;
}

footer .container,
footer .container * {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h3 {
    margin-right: 0;
}

footer .contacts div.wrap:nth-child(1) a p {
    margin: 10px 0 0;
}

footer .contacts div.wrap:nth-child(1) {
    margin-bottom: 0;
}

footer .contacts h3,
footer .contacts a p,
footer .company p {
    margin: 20px 0 0;
    text-align: center;
}

footer .contacts a img {
    margin: 20px 0;
} */