* {
    margin: 0px;
    padding: 0px;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'TT Norms', sans-serif;
    /* font-weight: 700; */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger {
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
}

.burger-line {
    width: 18px;
    height: 2px;
    background: #000;
    margin: 4px;
}