* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'TT Norms';
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.splash {
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    color: white;
    padding: 50px 60px 0;
    height: 800px;
    overflow-y: hidden;
}

.splash a {
    color: white;
}

.splash .logo {
    width: 155px;
    height: 62px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contacts {
    margin-bottom: 16px;
    position: relative;
}

.header-contacts div {
    margin-right: 20px;
}

.header-contacts div:nth-child(2),
.header-contacts div:nth-child(3) {
    font-size: 16px;
    line-height: 19px;
}

.header-contacts div:nth-child(3) {
    font-weight: 700;
}

.header-contacts div:nth-child(1)::after,
.header-contacts div:nth-child(2)::after,
.header-contacts div:nth-child(3)::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #E6E6F0;
    position: absolute;
    top: calc(50% - 3px);
    left: 90px;
}

.header-contacts div:nth-child(2)::after {
    left: 317px;
}

.header-contacts div:nth-child(3)::after {
    left: 470px;
}

.header-contacts ul {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
}

.header-contacts li {
    height: 24px;
    width: 29px;
    border-radius: 8px;
    justify-content: center;
}

.header-contacts li.active {
    background: #F0145A;
}

.navigation {
    justify-content: flex-end;
}

.navigation li a {
    margin-right: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.SymbolLongleg {
    flex-direction: column;
    padding: 185px 0 0 0;
    position: relative;
}


.SymbolLongleg p {
    font-size: 38px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 243px;
    z-index: 10;
    text-align: center;
}

.SymbolLongleg img:last-child {
    height: 687.5px;
    width: 430px;
    position: relative;
    left: -200px;

}
.SymbolLongleg .background {height: 644px;
    width: 689px;
    
    position: absolute;
    top: 63px;
}

.invisible {
    width: 600px;
    height: 225px;
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 10%, #323264 100%);
    position: relative;
    top: -200px;
    left: -100px;
}
.invisible .scoll-down img{
    position: relative;
    left: calc(50% + 100px - 21px);
    top: 150px;
    
}
.invisible .scoll-down img{
    width: 42px;
    height: 42px;
    z-index: 1;
}