@media screen and (max-width: 1500px) {
    .container {
        padding: 0 20px;
    }

    .team-photos {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1100px) {

   

    .team-block .text-container.header {
        margin: 20px 0;
    }

    .team-block .text-container.header p {
        font-size: 29px;
        line-height: 38px;
    }

}

@media screen and (max-width: 900px) {
    .team-block .text-container.header p {
        font-size: 29px;
        line-height: 38px;
    }

    .team-block .photo-container img {
        height: 191px;
        width: 158px;
        border-radius: 12px;
    }

    .team-photos {
        padding: 0 20px;
    }

    /* .team-photos.wrap {
        justify-content: flex-start;
        margin: 0 auto;
    } */
    .team-photos.wrap .block {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 313px;
    }

    .team-photo-footer.wrap {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;
    }

    .team-photo-footer.wrap p {
        margin: 5px 0 10px;
    }

    footer .container,
    footer .container * {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    footer h3 {
        margin-right: 0;
    }

    footer .contacts div.wrap:nth-child(1) a p {
        margin: 10px 0 0;
    }

    footer .contacts div.wrap:nth-child(1) {
        margin-bottom: 0;
    }

    footer .contacts h3,
    footer .contacts a p,
    footer .company p {
        margin: 20px 0 0;
        text-align: center;
    }

    footer .contacts a img {
        margin: 20px 0;
    }
}


/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------TEAM---MEMBER------------ */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */



@media screen and (max-width: 990px) {
    .profil .about {
        flex-direction: column;
    }

    .profil .photo img {
        height: 406px;
        width: 335px;
        margin-right: 0;
        margin: 20px 0;
    }

    .profil h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .profil .footer a:nth-child(2) p::before,
    .profil .footer a:nth-child(3) p::before {
        display: none;
    }

    .profil .footer {
        flex-direction: column;
        align-items: flex-start;
    }


    .profil .footer p:nth-child(1),
    .profil .footer a:nth-child(2) p {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 600px) {
    .profil .text-container {
        width: 335px;
    }
}


